section.article_top{
	padding: 300px 0 var(--margin-spacing);
	div.container{
		h1{
			padding-right: 45%;
			font-size: var(--font-size-big);
			text-align: left;
		}
		div.article_category_read{
			display: flex;
			gap: 40px;
			font-size: var(--font-size-smaller);
			span{
				color: $cmain;
			}
		}
	}
}